# beets-config ----------------------------------------------------------------------
# https://github.com/bretthabel/beets-config/blob/master/config.yaml
# beets version 1.4.9
# python version 3.7.4
# brett habel 20190830
#
# update dependancies: pip install -U beets[fetchart,discogs,import,extrafiles]

# Library----------------------------------------------------------------------------
#library: /library.db
directory: /Users/bretthabel/Library/Containers/nz.co.pixeleyes.AutoMounter/Data/Mounts/monoNAS/SMB/Music

# Importing--------------------------------------------------------------------------

import:
    # write metadata to music files
    write: yes

    # move imported files from source to the music directory
    move: no
    copy: yes

    # use auto-tagging where possible
    autotag: yes

    # require confirmation even on strong matches
    timid: yes
    
    # miscellaneous
    resume: ask
    quiet: no
    
    #logging
    log: beetslog.log

# files matching these patterns are deleted from source after import
clutter: ["Thumbs.DB", ".DS_Store", "*.m3u", ".pls"]

# whether to ignore hidden files when importing.
# files (and directories) starting with a dot are detected as hidden files.
ignore_hidden: yes


# Paths ----------------------------------------------------------------------

# paths and filenames for music files relative to music directory
# output example: Shellac / 1000 Hurts (2000) [FLAC CD 16-44] [TG211CD] / 01 - Prayer To God.flac
# output example: Shellac / 1000 Hurts (2000) [FLAC Vinyl 24-96] [TG211] / 01 - Prayer To God.flac
paths:
    default: $albumartist/$album (%if{$original_year,$original_year}) %aunique{albumartist album year, albumtype label catalognum albumdisambig}%if{$albumdisambig,($albumdisambig $year)}[$format $my_media $bitdepth-$my_samplerate] [$catalognum]/%if{$multidisc,Disc $disc}/$track-$title
    
# replace special characters in generated filenames
replace:
    '[\\/]': _
    '^\.': _
    '[\x00-\x1f]': _
    '[<>:"\?\*\|]': _
    '\.$': _
    '\s+$': ''
    '^\s+': ''
    '^-': _

# convert all non-ASCII characters in paths to ASCII equivalents.
asciify_paths: yes


# User Interface -------------------------------------------------------------

ui:
    color: yes
    colors:
        text_success: green
        text_warning: yellow
        text_error: red
        text_highlight: red
        text_highlight_minor: lightgray
        action_default: turquoise
        action: blue
        

# Auto Tagger ----------------------------------------------------------------

match:
    strong_rec_thresh: 0.04
    medium_rec_thresh: 0.25
    rec_gap_thresh: 0.25
    max_rec:
        missing_tracks: medium
        unmatched_tracks: medium
    distance_weights:
        source: 2.0
        artist: 3.0
        album: 3.0
        media: 1.0
        mediums: 1.0
        year: 1.0
        country: 0.5
        label: 0.5
        catalognum: 0.5
        albumdisambig: 0.5
        album_id: 5.0
        tracks: 2.0
        missing_tracks: 0.9
        unmatched_tracks: 0.6
        track_title: 3.0
        track_artist: 2.0
        track_index: 1.0
        track_length: 2.0
        track_id: 5.0
    preferred:
        countries: []
        media: ['CD', 'Digital Media|File', 'Vinyl']
        original_year: no
    ignored: []
    required: []
    ignored_media: ['Data CD', 'DVD', 'DVD-Video', 'Blu-ray', 'HD-DVD','VCD', 'SVCD', 'UMD', 'VHS']
    

# Plugins --------------------------------------------------------------------

plugins: discogs inline extrafiles fetchart scrub
pluginpath: []


# Plugins Config -------------------------------------------------------------

fetchart:
    auto: yes
    minwidth: 750
    maxwidth: 2000
    enforce_ratio: yes
    sources: filesystem coverart itunes amazon albumart google
    
scrub:
    auto: yes
    
# https://pypi.org/project/beets-extrafiles/
extrafiles:
    patterns:
        folders:
          - '*[sS]cans/'
          - '*[aA]rtwork/'
          - '*[aA]rt/'
        image:
            - '*.[jJ][pP][gG]'
            - '*.[pP][nN][gG]'
            - '*.[jJ][pP][eE][gG]'
        scans:
            - '[sS][cC][aA][nN]*/'
        log+cue:
            - '*.[cC][uU][eE]'
            - '*.[lL][oO][gG]'            
        other:
            - '*.[tT][xX][tT]'
            - '*.[sS][fF][vV]'
            - '*.[nN][fF][oO]'
            - '*.[pP][dD][fF]'
            - '*.[mM][dD]5'
            - '*.[aA][cC][cC][uU]*'

    paths:
        folders: $albumpath/Artwork
        image: $albumpath/Artwork/Artwork
        scans: $albumpath/Artwork/Artwork
        log+cue: $albumpath/$artist - $album
        other: $albumpath/Other/$artist - $album

    
# Miscellaneous -------------------------------------------------------------

item_fields:
    my_samplerate: str(int(samplerate / 1000))
    multidisc: 1 if disctotal > 1 else 0
    my_media: |
        if 'Digital' in media or 'File' in media: return 'WEB'
        if 'Vinyl' in media: return 'Vinyl'
        else: return media
    
album_fields:  
    format: |
         formatList = []
         for item in items:
             formatList.append(item.format)
         return formatList
